/* 
Colors:

Grey:
#fafaf9 (tailwind 'stone')
#f5f5f4
#e7e5e4
#d6d3d1

#333

Blue:
#0891b2 (tailwind 'cyan'
#0e7490

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.container {
  width: 120rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 7.4rem;
}

.heading-secondary {
  color: #0891b2;
  font-size: 4.4rem;
  text-align: center;
  margin-bottom: 6.4rem;
  text-decoration: underline;
}
